@{
    var agileBoardId = ViewBag.AgileBoardId;  
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @if (IsSectionDefined("TitleSection"))
    {
        <title>@RenderSection("TitleSection", false)</title>
    }
    else
    {
        <title>Issue Tracker | Syncfusion</title>
    }
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/content/stylesheets/components/bootstrap/Integrity/bootstrap3.7.1.min.css">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Styles/layout.css" rel="stylesheet" />


    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    @RenderSection("StyleSection", false)
    @RenderSection("ScriptSection", required: false)
</head>
<body id="page-top" class="sidebar-toggled">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Images/maintenance-icon-14.png" style="width:40px; margin-right: 10px;" />
                Issue Tracker
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fas fa-user-circle fa-fw"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="sidenav">
        <a href="#about">
            <i class="fas fa-fw fa-table"></i>
            <span>Projects</span>
        </a>
        <a href="/agile">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Agile</span>
        </a>
    </div>

    <div class="sidenav sub-side-nav">      
        <a href="/agile/@agileBoardId/settings/swimlanes">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="menus">Swimlanes</span>
        </a>
        @*<a href="/agile/@agileBoardId/settings/cardcolors">
            <i class="fas fa-fw fa-table"></i>
            <span class="menus">Card Colors</span>
        </a>
        <a href="/agile/@agileBoardId/settings/cardlayout">
            <i class="fas fa-fw fa-chart-area"></i>
            <span class="menus">Card Layout</span>
        </a>*@
    </div>


    <div id="sub-wrapper">
       

        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderSection("MainSection", required: false)
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
        </div>

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
